# Maven
/target/
/**/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
/.idea/
/*.iml
/.vscode/

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.log
*.jar

# Python cache
__pycache__/
*.pyc

# Archives
*.zip

# Docker/local overrides
docker-compose.override.yml
.env


